{{#users}}
<div class="card about occupation-details">
  <div class="about-header">
    <h3 class="about-header-text">OCCUPATION</h3>
    <button type="button" class="btn btn-primary edit-occupation-button"><span class="glyphicon glyphicon-pencil"></span></button>
  </div>
  <div class="about-content">
    <div class="row">
      <div class="col-sm-6">
        <div class="row info">
          <div class="col-xs-6 col-sm-6 about-title">Occupation
          </div>
          <div  class="col-xs-6 col-sm-6 desc">{{occupation}}</div>
        </div>
        <div class="row info">
          <div class="col-xs-6 col-sm-6 about-title">Skills
          </div>
          <div class="col-xs-6 col-sm-6 desc">{{skills}}</div>
        </div>
        <div class="row info">
          <div class="col-xs-6 col-sm-6 about-title">Jobs
          </div>
          <div class="col-xs-6 col-sm-6 desc">{{jobs}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/users}}
