<li>
  <div class = "item">
    <span><img src={{image}} class="timeline-img"></img></span>
    <div class="timeline-post">
      <div class="about-header">
        <div class="prime-text">
        </div>
        <div class="secondary-text">
        </div>
      </div>
      <div class="posted-image">
        <img src={{imageUrl}} class="posted-image"></img>
      </div>
    </div>
  </div>
</li>
