<div class="row">
  <div class="col-sm-12">
    <img src={{image}} class="hero-image">
    </img>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="profile-card">
    </div>
    <div class="follow-card">
    </div>
    <div class="friends-card">
    </div>
  </div>
  <div class="col-sm-9 timeline">
    <div class="for-navigation">
    </div>
    <div class="dashboard-info">
    </div>
  </div>
</div>
