
<li class="logged-in-user-name-container">
  <a class="logged-in-user-name">
    <span><img src={{image}} class="logged-in-user-image"></img></span>{{firstName}}
  </a>
</li>
<li class="logout"><a><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
<li>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</li>
