<div class="card about">
  <div class="about-header">
    <h3 class="about-header-text">OCCUPATION</h3>
  </div>
  <div class="about-content edit-content">
    <form>
      <div class="add-on">
        <span class="glyphicon glyphicon-user icons-users">
        </span>
        <div class="add-input-wrapper">
          <input type="text" class="add-input" name="name" id="inputOccupation" placeholder="OCCUPATION">
          <span class="line"></span>
        </div>
      </div>
      <div class="add-on">
        <span class="glyphicon glyphicon-user icons-users">
        </span>
        <div class="add-input-wrapper">
          <input type="text" class="add-input" name="name" id="inputSkills" placeholder="SKILLS">
          <span class="line"></span>
        </div>
      </div>
      <div class="add-on">
        <span class="glyphicon glyphicon-user icons-users">
        </span>
        <div class="add-input-wrapper">
          <input type="text" class="add-input" name="name" id="inputJobs" placeholder="JOBS">
          <span class="line"></span>
        </div>
      </div>
      <div class="buttons">
        <button type="button" class="save btn btn-default btn-primary">Save</button>
        <button type="button" class="cancel btn btn-default btn-inverse">Cancel</button>
      </div>
    </form>
  </div>
</div>
