<div class="card">
  <div class="about-header">
    <h5 class="about-header-text">Who to follow</h5>
  </div>
  <div class="card-block">
    {{#iteration}}
      <div class="follow-person row">
        <div class="col-sm-4"
          <a>
            <img src={{image}} class="follow-people-img"></img>
          </a>
        </div>
        <div class="col-sm-8 follow-people-content">
          <div class="prime-text">Josephin Doe</div>
          <div class="secondary-text">Softwear Engineer</div>
        </div>
      </div>
    {{/iteration}}
  </div>
</div>
