<div class="card">
  <div class="card-block photos-block">
    {{#photosArr}}
      <img src={{image}} data-info={{image}} data-toggle='modal' data-target='#myModal' class="photos-img"></img>
    {{/photosArr}}
  </div>
</div>
