<div class="row for-sign-up">
  <div class="col-sm-offset-3 col-sm-4 sign-up">
    <form name="login" class="login">
      <div class="section">
        <div class="form-group row single-form-element for-email">
          <label for="email" class="col-sm-4 col-form-label for-label">Email-Id:</label>
          <div class="col-sm-12">
            <input type="email" class="form-control input" name="email" id="email-id">
          </div>
        </div>
        <div class="form-group row single-form-element">
          <label for="password" class="col-sm-4 col-form-label for-label">Password:</label>
          <div class="col-sm-12">
            <input type="password" class="form-control input" name="pass" id="password">
          </div>
        </div>
        <div class="notify">User does not exist
        </div>
      </div>
      <div class="contain-submit">
        <button type="submit" class="submit">Login</button>
      </div>
    </form>
  </div>
</div>
