<button type="button" data-toggle='modal' data-target='#myModal' class="btn btn-primary btn-md post-button">Add Post</button>
<ul class="timeline-content">
  <li class="first-item">
    <div class = "item">
      <span></span>
    </div>
  </li>
  {{#post}}
    <li>
      <div class = "item">
        <span><img src={{image}} class="timeline-img"></img></span>
        <div class="timeline-post">
          <div class="about-header timeline-header">
            <div class="prime-text">
              Josephin Doe posted on your timeline
            </div>
            <div class="secondary-text">
              {{relativeTime}}
            </div>
          </div>
          <div class="posted-image">
            {{#imageUrl}}
            <img src={{imageUrl}} class="posted-image"></img>
            {{/imageUrl}}
          </div>
          <div class="posted-content">
            <h4 class="title">{{title}}</h4>
            <p class="description">{{Description}}</p>
          </div>
        </div>
      </div>
    </li>
  {{/post}}
</ul>
